.card-move {
  margin-top: 25%;
}
.full-width {
  width: 100%;
}

.register-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/icc-faculty.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.text-register-h2 {
  color: #7d858c;
}
